<ng-container *ngIf="cartItems.length != 0">
  <div class="container">
    <div class="cart-table">
      <div class="cart-product">
        <table class="table center-table">
          <thead>
            <tr>
              <th>Sr.no</th>
              <th>Product Name</th>
              <th>Product Image</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cartItems; let i = index">
              <td data-label="Sr.no">{{i+1}}</td>
              <td data-label="Product Name">{{item.name}}</td>
              <td data-label="Image"><img class="cart-img" src="{{item.thumbnail}}" alt=""></td>
              <td data-label="Price">{{item.price}}</td>
              <td data-label="Quantity" class="qanttty">
                <button class="btn btn-primary qt-btn" (click)="decreaseQuantity(item)"><i class="fa-solid fa-minus"></i></button>
                {{item.quantity}}
                <button class="btn btn-primary qt-btn" (click)="increaseQuantity(item)"><i class="fa-solid fa-plus"></i></button>
              </td>
              <td data-label="Total">{{ ((item.price ? +item.price : 0) * (item.quantity ? +item.quantity : 0)).toFixed(2) }}</td>
              <td data-label="Action"><button (click)="removeItem(i)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></td>
            </tr>
          </tbody>
        </table>

        <!-- Action Row -->
        <div class="cart-actions">
          <button (click)="emptyCart()" class="btn btn-danger">Empty Cart</button>
          <button [routerLink]="['']" class="btn btn-primary">Shop More</button>
          <button [routerLink]="['/checkoutpage']" class="btn btn-success">Checkout</button>
          <div class="grand-total"><strong>Grand Total: <span>{{totalPrice}}</span></strong></div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="cartItems.length == 0">
  <div class="container">
    <div class="cart">
      <h5 class="cart-title">My Cart</h5>
    </div>
    <div class="center">
      <h4>Your cart is empty</h4>
      <h6>Add items to it now</h6>
      <button [routerLink]="['']" class="btn btn-primary">Shop Now</button>
    </div>
  </div>
</ng-container>